:root { 
--black_900_7f:#0000007f; 
--white_A700_b2:#ffffffb2; 
--gray_50_01:#fcfcfc; 
--black_900_b2:#000000b2; 
--purple_700_3d:#743c953d; 
--blue_A400:#1877f2; 
--gray_900_99:#13131a99; 
--light_green_700_4c:#6997594c; 
--red_A700_3f:#e400013f; 
--blue_A200:#5599ff; 
--black_900_3f:#0000003f; 
--green_500:#4caf50; 
--gray_900_19:#13131a19; 
--black_900_01:#000000; 
--purple_700_87:#743c9587; 
--lime_700_90:#cba13d90; 
--gray_900_4c:#13131a4c; 
--gray_200_01:#e8e9e9; 
--blue_gray_700:#535353; 
--red_800_19:#b9343419; 
--gray_800_3f:#3838383f; 
--purple_700:#743c95; 
--lime_700_7e:#cba13d7e; 
--blue_gray_900:#2a2e33; 
--black_900_03:#030303; 
--black_900_02:#060606; 
--black_900_4c:#0000004c; 
--gray_600:#727272; 
--gray_400:#b8b8ba; 
--blue_gray_100:#d9d9d9; 
--gray_800_19:#39393919; 
--blue_700:#1976d2; 
--lime_700:#cba13d; 
--amber_500:#ffc107; 
--blue_gray_300:#8d98aa; 
--gray_900_66:#13131a66; 
--gray_200:#ececec; 
--black_900_0c:#0000000c; 
--gray_100_07:#f0f3f8; 
--gray_100_06:#f3f5f7; 
--gray_100_03:#f7f6f6; 
--gray_100_02:#f8f7f7; 
--gray_900_1e:#13131a1e; 
--gray_700_04:#666666; 
--gray_100_05:#f7f7f7; 
--gray_100_04:#f5f5f5; 
--gray_400_01:#b1acb6; 
--gray_400_02:#bdbfc8; 
--gray_100_01:#eff8ff; 
--black_900_19:#00000019; 
--green_600_01:#46b41f; 
--gray_700_02:#686868; 
--white_A700:#ffffff; 
--gray_700_03:#5a5353; 
--blue_gray_700_01:#4c535f; 
--lime_800_cc:#a78d4ecc; 
--cyan_400:#32a3c8; 
--gray_700_01:#5d5d5d; 
--purple_700_5e:#743c955e; 
--red_700:#ec2121; 
--blue_gray_50:#eff0f6; 
--lime_700_6c:#cba13d6c; 
--blue_gray_100_01:#d6d1da; 
--lime_700_cc:#cba13dcc; 
--lime_700_75:#cba13d75; 
--green_600:#46b520; 
--gray_50:#f8f8f8; 
--light_blue_800:#006fcf; 
--purple_700_63:#743c9563; 
--black_900:#100f0f; 
--gray_500_01:#adadad; 
--light_green_700:#699759; 
--gray_500_03:#a1a1a1; 
--gray_500_02:#9f9f9f; 
--deep_orange_A400:#ff3d00; 
--blue_700_19:#307bc119; 
--black_900_26:#00000026; 
--gray_900_02:#0b0b28; 
--gray_700:#5a5454; 
--gray_600_02:#808080; 
--gray_500:#a3a3a3; 
--gray_600_01:#828282; 
--blue_gray_400:#898989; 
--gray_900_87:#0b0b2887; 
--gray_900:#13131a; 
--gray_900_01:#222529; 
--lime_700_87:#cba13d87; 
--gray_300:#e2e2e2; 
--blue_gray_300_01:#8c97a7; 
--gray_300_01:#e0e0e0; 
--gray_100:#f9f4f4; 
--gray_900_7f:#13131a7f; 
--lime_700_a2:#cba13da2; 
--indigo_900:#202e86; 
--gray_900_90:#13131a90; 
}